name: CI/CD

on:
  push:
  pull_request:
  # Run daily at 0:01 UTC
  schedule:
  - cron:  '1 0 * * *'

jobs:
  test:

    strategy:
      matrix:
        platform: [ubuntu-latest, macOS-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@master
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install git+https://github.com/iris-hep/ast-language.git@e6470deb68529e1885a4bc46f781e2fe43a6f4c8
        pip install --no-cache-dir -e .[test]
        pip list
    - name: Lint with Flake8
      if: matrix.python-version == 3.7 && matrix.platform == 'ubuntu-latest'
      run: |
        flake8 --exclude=tests/* --ignore=E501
    - name: Test with pytest
      run: |
        python -m pytest -m "not atlas_xaod_runner and not cms_aod_runner"
    - name: Report coverage with Codecov
      if: github.event_name == 'push' && matrix.python-version == 3.7 && matrix.platform == 'ubuntu-latest'
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
